<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Planner | Event Registration</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/app.css}" rel="stylesheet">
</head>
<body>
                <!-- NEED : all locations      -->
                <!-- NEED : ensure location selection is available depending on user selected location (else redirect back to this page with passed data and error message      -->

    <div class="body-container">

        <div class="register-form">
            <form th:action="@{/events/register}" th:object="${dao}" method="post">
                <div class="form-group" th:object="${dao}">
                    <label for="eventTitle">Event Title</label>
                    <input type="text" class="form-control" id="eventTitle"  th:field="*{eventTitle}">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="datetime-local" class="form-control" id="startDate" th:field="*{startDate}">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="datetime-local" class="form-control" id="endDate" th:field="*{endDate}">
                </div>
                <div class="form-group">
                    <label for="imageSelected">Select Image</label>
                    <select multiple class="form-control" id="imageSelected" th:field="*{imgLocation}">
                        <option th:each="image: ${images}"  th:value="${image}" th:text="${image}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="availableRooms">Available Rooms</label>
                    <select multiple class="form-control" id="availableRooms"  th:field="*{locationName}">
                        <option th:each="room: ${locations}" th:value="${room.getName()}" th:text="${room.getName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="10" th:field="*{description}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary form-control" value="Register" style="color: white">REGISTER</button>
            </form>
        </div>

    </div>


</body>
</html>